body{
    margin: 29px;
    padding: 10px 10px ;
   /* padding-left: 36px;*/
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    background-color: #e8f6f4;
    text-align: center;
    background-image: url(backour.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.wrapper{
    width: 1000px;
    background: antiquewhite;
    border: 2px solid rgba(255, 255, 255, .2);
    
    box-shadow: 0 0 10px rgba(0, 0, 0, .9);
    color: #333;
    border-radius: 10px;
    padding: 50px 100px;
    align-items: center;
}
